# Ignore config.json
config.json

# Ignore history.json
history.json

# Ignore ash.png
ash.png

# Ignore .pyc files
__pycache__

#Ignore old_summary.txt
old_summary.txt

#Ignore bot copy main.py
main.py