# Ignore config.json
config.json

# Ignore history folder and content
history/*

# Ignore node_modules
node_modules/*

# Ignore google credentials file
gcloud.json

# Ignore screenshot of params
params.jpg

# Ignore output.mp3
output.mp3
